/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body & General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Header */
.header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #007BFF; /* Blue color for the title */
}

/* Main Section */
.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Form Container */
.ticket-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

/* Form Elements */
.ticket-form label {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 8
