* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/621/70/325/night-clouds-everlasting-summer-arsenixc-wallpaper-preview.jpg'); /* Blue themed background */
    background-size: cover;
    background-position: center;
    color: white;
}

.header {
    text-align: center;
    margin-bottom: 50px;
}

header h1 {
    font-size: 3rem;
    font-weight: 700;
}

.main-section {
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    padding: 15px 30px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}
